<section
  class="section work"
  id="work"
  data-aos="fade-up"
  data-aos-duration="500"
>
  <div class="container">
    <h1 class="h1-title">trabajos / prácticas</h1>
    <div class="row pt-3">
      <div class="col-12 col-md-4">
        <app-card
          title="01 landing page"
          image="../../../assets/img/01-landing-page.png"
          href="https://01-lp.netlify.app/"
          [skills]="[
            {
              image: '../../../assets/img/skills/react.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/typescript.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/html.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/css-3.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/tailwind-css.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/figma.svg',
              href: 'https://www.figma.com/design/fAVmscP4cDiPxNZGm5CUKW/01-landing-page?node-id=2-5&p=f&t=grUmg1HJqMmHWO3M-0'
            },
            {
              image: '../../../assets/img/skills/github.svg',
              href: 'https://github.com/jissust/01-landing-page'
            }
          ]"
        />
      </div>
      <div class="col-12 col-md-4">
        <app-card
          title="Picas: burgers and beers"
          image="../../../assets/img/picas.png"
          href="https://picas-burger-test.netlify.app"
          [skills]="[
            {
              image: '../../../assets/img/skills/angular.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/html.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/css-3.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/bootstrap.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/javascript.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/github.svg',
              href: 'https://github.com/jissust/picas_burgers'
            }
          ]"
        />
      </div>
      <div class="col-12 col-md-4">
        <app-card
          title="Domo Front Challenge"
          image="../../../assets/img/domo-front-challenge.png"
          href="https://domofrontendchallenge-jtissera.netlify.app/"
          [skills]="[
            
            {
              image: '../../../assets/img/skills/html.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/css-3.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/bootstrap.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/javascript.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/github.svg',
              href: 'https://github.com/jissust/domofrontendchallenge'
            }
          ]"
        />
      </div>
      <div class="col-12 col-md-4">
        <app-card
          title="Curso Angular: Front"
          image="../../../assets/img/works/curso-angular-vr.webp"
          href="https://github.com/jissust/curso-angular-vr"
          [skills]="[
            {
              image: '../../../assets/img/skills/angular.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/nodejs.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/html.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/css-3.svg',
              href: ''
            }
          ]"
        />
      </div>
      <div class="col-12 col-md-4">
        <app-card
          title="Curso Angular: Back y Api"
          image="../../../assets/img/works/curso-angular-vr-api.webp"
          href="https://github.com/jissust/curso-angular-vr-api"
          [skills]="[
            {
              image: '../../../assets/img/skills/mongodb.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/nodejs.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/html.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/express-js.svg',
              href: ''
            }
          ]"
        />
      </div>
      <div class="col-12 col-md-4">
        <app-card
          title="Mi web"
          image="../../../assets/img/works/mi_web.webp"
          href="https://github.com/jissust/mi_web"
          [skills]="[
            {
              image: '../../../assets/img/skills/angular.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/nodejs.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/html.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/css-3.svg',
              href: ''
            },
            {
              image: '../../../assets/img/skills/bootstrap.svg',
              href: ''
            }
          ]"
        />
      </div>
    </div>
  </div>
</section>
