<section
  class="section work"
  id="work"
  data-aos="fade-up"
  data-aos-duration="500"
> <div class="container">
    <h1 class="h1-title">Trabajos</h1>
    <div class="row pt-3">
      <div class="col-12 col-md-4 mb-3">
        <app-card
          title="BIEN COPIADO — Sistema de gestión comercial y servicios técnicos"
          image="../../../assets/img/works/bien-copiado.webp"
          href="https://github.com/jissust/headless-cms"
          [skills]="[
            {
              image: '../../../assets/img/skills/strapi-logo.svg',
              href: 'https://strapi.io/',
              title: 'Strapi'
            },
            {
              image: '../../../assets/img/skills/html.svg',
              href: '',
              title: 'HTML'
            },
            {
              image: '../../../assets/img/skills/css-3.svg',
              href: '',
              title: 'CSS 3'
            },
            {
              image: '../../../assets/img/skills/javascript.svg',
              href: '',
              title: 'Javascript'
            },
            {
              image: '../../../assets/img/skills/react.svg',
              href: '',
              title: 'React'
            },
            {
              image: '../../../assets/img/skills/typescript.svg',
              href: '',
              title: 'Typescript'
            },
            {
              image: '../../../assets/img/skills/github.svg',
              href: 'https://github.com/jissust/headless-cms',
              title: 'Ver en GitHub'
            }
          ]"
        />
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-card
          title="Virtual Xpert — Rediseño y desarrollo web corporativo (Maquetado)"
          image="../../../assets/img/works/virtual-xpert.webp"
          href="https://virtual-xpert.net/"
          [skills]="[
            {
              image: '../../../assets/img/skills/html.svg',
              href: '',
              title: 'HTML'
            },
            {
              image: '../../../assets/img/skills/css-3.svg',
              href: '',
              title: 'CSS 3'
            },
            {
              image: '../../../assets/img/skills/javascript.svg',
              href: '',
              title: 'Javascript'
            },
            {
              image: '../../../assets/img/skills/github.svg',
              href: 'https://github.com/jissust/web-vx',
              title: 'Ver en GitHub'
            }
          ]"
        />
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-card
          title="Forj Arte"
          image="../../../assets/img/works/forj-arte.webp"
          href="https://forj-arte.com.ar/"
          [skills]="[
            {
              image: '../../../assets/img/skills/html.svg',
              href: '',
              title: 'HTML'
            },
            {
              image: '../../../assets/img/skills/css-3.svg',
              href: '',
              title: 'CSS 3'
            },
            {
              image: '../../../assets/img/skills/javascript.svg',
              href: '',
              title: 'Javascript'
            },
            {
              image: '../../../assets/img/skills/wordpress.svg',
              href: '',
              title: 'wordpress'
            }
          ]"
        />
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-card
          title="Mi web"
          image="../../../assets/img/works/mi_web.webp"
          href="https://github.com/jissust/mi_web"
          [skills]="[
            {
              image: '../../../assets/img/skills/angular.svg',
              href: '',
              title: 'Angular'
            },
            {
              image: '../../../assets/img/skills/nodejs.svg',
              href: '',
              title: 'Nodejs'
            },
            {
              image: '../../../assets/img/skills/html.svg',
              href: '',
              title: 'HTML'
            },
            {
              image: '../../../assets/img/skills/css-3.svg',
              href: '',
              title: 'CSS 3'
            },
            {
              image: '../../../assets/img/skills/bootstrap.svg',
              href: '',
              title: 'Bootstrap'
            }
          ]"
        />
      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="h1-title">Prácticas</h1>
    <div class="row pt-3">
      <div class="col-12 col-md-4 mb-3">
        <app-card
          title="01 landing page"
          image="../../../assets/img/01-landing-page.png"
          href="https://01-lp.netlify.app/"
          [skills]="[
            {
              image: '../../../assets/img/skills/react.svg',
              href: '',
              title: 'React'
            },
            {
              image: '../../../assets/img/skills/typescript.svg',
              href: '',
              title: 'Typescript'
            },
            {
              image: '../../../assets/img/skills/html.svg',
              href: '',
              title: 'HTML'
            },
            {
              image: '../../../assets/img/skills/css-3.svg',
              href: '',
              title: 'CSS 3'
            },
            {
              image: '../../../assets/img/skills/tailwind-css.svg',
              href: '',
              title: 'Tailwind CSS'
            },
            {
              image: '../../../assets/img/skills/figma.svg',
              href: 'https://www.figma.com/design/fAVmscP4cDiPxNZGm5CUKW/01-landing-page?node-id=2-5&p=f&t=grUmg1HJqMmHWO3M-0',
              title: 'Ver en Figma'
            },
            {
              image: '../../../assets/img/skills/github.svg',
              href: 'https://github.com/jissust/01-landing-page',
              title: 'Ver en GitHub'
            }
          ]"
        />
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-card
          title="Picas: burgers and beers"
          image="../../../assets/img/picas.png"
          href="https://picas-burger-test.netlify.app"
          [skills]="[
            {
              image: '../../../assets/img/skills/angular.svg',
              href: '',
              title: 'Angular'
            },
            {
              image: '../../../assets/img/skills/html.svg',
              href: '',
              title: 'HTML'
            },
            {
              image: '../../../assets/img/skills/css-3.svg',
              href: '',
              title: 'CSS 3'
            },
            {
              image: '../../../assets/img/skills/bootstrap.svg',
              href: '',
              title: 'Bootstrap'
            },
            {
              image: '../../../assets/img/skills/javascript.svg',
              href: '',
              title: 'Javascript'
            },
            {
              image: '../../../assets/img/skills/github.svg',
              href: 'https://github.com/jissust/picas_burgers',
              title: 'Ver en GitHub'
            }
          ]"
        />
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-card
          title="Domo Front Challenge"
          image="../../../assets/img/domo-front-challenge.png"
          href="https://domofrontendchallenge-jtissera.netlify.app/"
          [skills]="[
            
            {
              image: '../../../assets/img/skills/html.svg',
              href: '',
              title: 'HTML'
            },
            {
              image: '../../../assets/img/skills/css-3.svg',
              href: '',
              title: 'CSS 3'
            },
            {
              image: '../../../assets/img/skills/bootstrap.svg',
              href: '',
              title: 'Bootstrap'
            },
            {
              image: '../../../assets/img/skills/javascript.svg',
              href: '',
              title: 'Javascript'
            },
            {
              image: '../../../assets/img/skills/github.svg',
              href: 'https://github.com/jissust/domofrontendchallenge',
              title: 'Ver en GitHub'
            }
          ]"
        />
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-card
          title="Curso Angular: Front"
          image="../../../assets/img/works/curso-angular-vr.webp"
          href="https://github.com/jissust/curso-angular-vr"
          [skills]="[
            {
              image: '../../../assets/img/skills/angular.svg',
              href: '',
              title: 'Angular'
            },
            {
              image: '../../../assets/img/skills/nodejs.svg',
              href: '',
              title: 'Nodejs'
            },
            {
              image: '../../../assets/img/skills/html.svg',
              href: '',
              title: 'HTML'
            },
            {
              image: '../../../assets/img/skills/css-3.svg',
              href: '',
              title: 'CSS 3'
            }
          ]"
        />
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-card
          title="Curso Angular: Back y Api"
          image="../../../assets/img/works/curso-angular-vr-api.webp"
          href="https://github.com/jissust/curso-angular-vr-api"
          [skills]="[
            {
              image: '../../../assets/img/skills/mongodb.svg',
              href: '',
              title: 'Mongodb'
            },
            {
              image: '../../../assets/img/skills/nodejs.svg',
              href: '',
              title: 'Nodejs'
            },
            {
              image: '../../../assets/img/skills/html.svg',
              href: '',
              title: 'HTML'
            },
            {
              image: '../../../assets/img/skills/express-js.svg',
              href: '',
              title: 'Expressjs'
            }
          ]"
        />
      </div>

    </div>
  </div>
  <div class="container mt-5">
    <h1 class="h1-title"><a style="color:#FFF; text-decoration: none;" href="https://www.frontendmentor.io/" target="_blank" title="ver Frontend Mentor">Frontend Mentor</a></h1>
    <div class="row pt-3">
      <div class="col-12 col-md-4 mb-3">
        <app-card
          title="Challenge: Qr code"
          image="../../../assets/img/works/frontend-mentor/challenge-qr-code.png"
          href="https://test-frontend-mentor.netlify.app"
          [skills]="[
            {
              image: '../../../assets/img/skills/html.svg',
              href: '',
              title: 'HTML'
            },
            {
              image: '../../../assets/img/skills/css-3.svg',
              href: '',
              title: 'CSS 3'
            },
            {
              image: '../../../assets/img/skills/figma.svg',
              href: 'https://www.figma.com/design/KiwieQRzSH3zAr3GiuGU8Z/qr-code-component?node-id=2-2&p=f&t=DbaCeesQ7Q4G04jb-0',
              title: 'Ver en Figma'
            },
            {
              image: '../../../assets/img/skills/github.svg',
              href: 'https://github.com/jissust/git-test',
              title: 'Ver en GitHub'
            }
          ]"
        />
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-card
          title="Challenge: Conference ticket generator"
          image="../../../assets/img/works/frontend-mentor/challenge-conference-ticket-generator.png"
          href="https://fem-test-2.netlify.app/"
          [skills]="[
            {
              image: '../../../assets/img/skills/react.svg',
              href: '',
              title: 'React'
            },
            {
              image: '../../../assets/img/skills/typescript.svg',
              href: '',
              title: 'Typescript'
            },
            {
              image: '../../../assets/img/skills/html.svg',
              href: '',
              title: 'HTML'
            },
            {
              image: '../../../assets/img/skills/css-3.svg',
              href: '',
              title: 'CSS 3'
            },
            {
              image: '../../../assets/img/skills/tailwind-css.svg',
              href: '',
              title: 'Tailwind CSS'
            },
            {
              image: '../../../assets/img/skills/github.svg',
              href: 'https://github.com/jissust/conference-ticket-generator-main',
              title: 'Ver en GitHub'
            }
          ]"
        />
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-card
          title="Challenge: Browser extension manager UI"
          image="../../../assets/img/works/frontend-mentor/challenge-browser-extension-manager.png"
          href="https://fem-test-3.netlify.app/"
          [skills]="[
            {
              image: '../../../assets/img/skills/react.svg',
              href: '',
              title: 'React'
            },
            {
              image: '../../../assets/img/skills/typescript.svg',
              href: '',
              title: 'Typescript'
            },
            {
              image: '../../../assets/img/skills/html.svg',
              href: '',
              title: 'HTML'
            },
            {
              image: '../../../assets/img/skills/css-3.svg',
              href: '',
              title: 'CSS 3'
            },
            {
              image: '../../../assets/img/skills/tailwind-css.svg',
              href: '',
              title: 'Tailwind CSS'
            },
            {
              image: '../../../assets/img/skills/github.svg',
              href: 'https://github.com/jissust/FEM-3',
              title: 'Ver en GitHub'
            }
          ]"
        />
      </div>
    </div>
  </div>

</section>
