<section class="section work" id="work"  data-aos="fade-up" data-aos-duration="500">
  <div class="container">
    <h1 class="h1-title">trabajos / prácticas</h1>
    <div class="row pt-3">
      <div class="col-12 col-md-4">
        <a
          href="https://github.com/jissust/curso-angular-vr"
          class="access"
          target="_blank"
        >
          <div class="card">
            <div class="card-img-container">
              <img
                class="card-img-top"
                src="../../../assets/img/works/curso-angular-vr.png"
                alt="curso-angular-vr"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">Curso Angular: Front</h5>
              <div class="card-text">
                <ul>
                  <li>
                    <img
                      src="../../../assets/img/works/icons/angular.svg"
                      width="25px"
                      alt="Angular"
                    />
                  </li>
                  <li>
                    <img
                      src="../../../assets/img/works/icons/nodejs.svg"
                      width="25px"
                      alt="Nodejs"
                    />
                  </li>
                  <li>
                    <img
                      src="../../../assets/img/works/icons/css-3.svg"
                      width="25px"
                      alt="CSS"
                    />
                  </li>
                  <li>
                    <img
                      src="../../../assets/img/works/icons/html.svg"
                      width="25px"
                      alt="HTML"
                    />
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4">
        <a
          href="https://github.com/jissust/curso-angular-vr-api"
          class="access"
          target="_blank"
        >
          <div class="card">
            <div class="card-img-container">
              <img
                class="card-img-top"
                src="../../../assets/img/works/curso-angular-vr-api.png"
                alt="curso-angular-vr-api"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">Curso Angular: Back y Api</h5>
              <div class="card-text">
                <ul>
                  <li>
                    <img
                      src="../../../assets/img/works/icons/mongodb.svg"
                      width="25px"
                      alt="Mongodb"
                    />
                  </li>
                  <li>
                    <img
                      src="../../../assets/img/works/icons/nodejs.svg"
                      width="25px"
                      alt="Nodejs"
                    />
                  </li>
                  <li>Ex</li>
                </ul>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4">
        <a
          href="https://github.com/jissust/mi_web"
          class="access"
          target="_blank"
        >
          <div class="card">
            <div class="card-img-container">
              <img
                class="card-img-top"
                src="../../../assets/img/works/mi_web.png"
                alt="mi web"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">Mi web</h5>
              <div class="card-text">
                <ul>
                  <li>
                    <img
                      src="../../../assets/img/works/icons/angular.svg"
                      width="25px"
                      alt="Angular"
                    />
                  </li>
                  <li>
                    <img
                      src="../../../assets/img/works/icons/nodejs.svg"
                      width="25px"
                      alt="Nodejs"
                    />
                  </li>
                  <li>
                    <img
                      src="../../../assets/img/works/icons/css-3.svg"
                      width="25px"
                      alt="CSS"
                    />
                  </li>
                  <li>
                    <img
                      src="../../../assets/img/works/icons/html.svg"
                      width="25px"
                      alt="HTML"
                    />
                  </li>
                  <li>
                    <img
                      src="../../../assets/img/works/icons/bootstrap.svg"
                      width="25px"
                      alt="Bootstrap"
                    />
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
