.work{
    background-color: #27244f;
    color:#FFFFFF;
    padding-bottom: 70px;
}
.work .card{
    background-color: #ed182e;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.work .card .card-body h5.card-title{
    font-size: 16px;
}
.work .card ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}
.work a.access{
    text-decoration: none;
}
.card-img-top{
    scale:1;
    transition: scale 0.5s ease;
}
.work a.access:hover .card .card-img-top{
    scale: 1.1;
    transition: scale 0.5s ease;
}
.card-img-container{
    overflow: hidden;
}