.footer{
    padding: 50px 0;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}
.footer ul{
    padding: 0;
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.footer ul li a svg{
    fill:#FFFFFF;
} 