
.navbar-nav .nav-link.active, 
.navbar-nav .nav-link.show{
    color: #FFFFFF;
    font-weight: bold;
}
.nav-link{
    color:#FFFFFF;
    font-family: "Poppins", sans-serif;
}
.navbar{
    transition: background-color 0.5s ease;
}
.stateScroll{
    background-color: #27244f;
    transition: background-color 0.5s ease;
    box-shadow: rgba(17, 17, 26, 1.1) 0 0px 13px;
}

.navbar-brand.logo{
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    font-weight: bolder;
    margin: 0;
}