.skill{
    padding-bottom: 70px;
    display: block;
}
.skill .skill-container{
    background-color: #ed182e;
    padding: 20px;
    border-radius: 10px;
}
@media ( max-width:1200px) {
    .skill .skill-container{
        display: none;
    }
}
.skill .skill-container img{
    width: 150px;
    padding: 20px;
}
@media ( max-width:1400px) {
    .skill .skill-container img{
        width: 130px;
    }   
}
.skill-container-mobile{
    display: none;
}
@media ( max-width:768px) {
    .skill-container-mobile{
        display: block;
    }
}
