.skill{
    background-color: #ed182e;
}
.skill .skill-container img{
    width: 150px;
    padding: 20px;
}

@media ( max-width:1400px) {
    .skill .skill-container img{
        width: 130px;
    }   
}