.home{
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding-left: 15%;;*/
    overflow-x: hidden;
}
@media (max-width: 768px) {
    .home{
        align-items: center;
        /*padding-left: 0;*/
    }
}
.home img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

@media (max-width: 768px) { 
    .home img{
        left: -240px;
    }
 }

.home h1{
    text-align: center;
    font-size: 4rem;
}
.home h2{
    color: #FFFFFF;
}
.home-text{
    position: relative;
    z-index: 10;
}
.home-list-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.home-list-icons svg{
    fill:#FFFFFF
}