<section class="section about-me" id="about-me">
    <div class="container" data-aos="fade-up" data-aos-duration="500">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="about-me-text-container">
                    <h1 class="h1-title">sobre mí</h1>
                    <div class="about-me-text">
                        <p>
                            Si bien inicié mi camino en el desarrollo como Full Stack, en los últimos años me he enfocado en Frontend, ya que me apasiona crear interfaces intuitivas, accesibles y visualmente atractivas que mejoren la experiencia del usuario.
                        </p>
                        <p>    
                            Gracias a mi experiencia en Backend, tengo una visión integral del desarrollo web, lo que me permite trabajar de manera fluida con APIs y optimizar la comunicación entre el frontend y el backend. Además, mi capacidad para colaborar con diseñadores y desarrolladores me ha permitido integrarme en equipos diversos, aportando soluciones efectivas y alineadas con los objetivos del proyecto.
                        </p>
                        <p>    
                            Siempre estoy en constante aprendizaje, explorando nuevas tecnologías y metodologías para seguir creciendo en el mundo del desarrollo web.
                        </p>
                    </div>
                    <a href="../../../assets/file/jtissera.pdf" target="_blank" class="btn btn-first" download>Descargar cv</a>
                </div>
            </div>
        </div>
    </div>
</section>