.about-me{
    background-color: #27244f;
    color:#FFFFFF;
    padding-bottom: 70px;
    font-family: 'Poppins', sans-serif;
}
.about-me-text{
    text-align: justify;
}
.about-me-text-container{
    max-width: 800px;
    text-align: center;
}
.btn-first{
    color: #FFFFFF;
}

.btn-first:hover{
    background-color: #ed182e;
    color: #FFFFFF;
}
