<section class="section about-me" id="about-me" data-aos="fade-up" data-aos-duration="500">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="about-me-text-container">
                    <h1 class="h1-title">sobre mí</h1>
                    <div class="about-me-text">
                        <p>
                            
                        </p>
                        <p>
                            Me considero una persona responsable, colaborativa y con una actitud positiva para resolver cualquier tipo de problema o buscar soluciones. 
                            Cuento con conocimiento en Frontend, Backend y puedo participar en soluciones UX/UI. 
                            Mi habilidad para comunicarme de manera efectiva con diseñadores, desarrolladores y otros miembros del equipo me han llevado en estos años a poder incorporarme en distintos proyectos con diferentes equipos.                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>